<div class="container-fluid">
  <h3>Welcome Admin</h3>

  <% if current_user && (current_user.has_role? :admin) %>

    <div class="row">
      <div class="flex-container-admin">
        <a href="<%= admin_documents_path %>">
          <div class="flex-item-admin">
            Documents
            <br>
            Total Documents : <%= @documents.all.count %> <br>
            Approved Documents : <%= @approved_docs.count %> <br>
            Unapproved Documents : <%= @unApproved_docs.count %>
          </div>
        </a>

        <a href="<%= admin_users_path %>">
          <div class="flex-item-admin">
            Users
          </div>
        </a>

        <a href="<%= admin_roles_path %>">
          <div class="flex-item-admin">
            Roles
          </div>
        </a>

      </div>
    </div>

    <div class="row">
      <div class="flex-container-admin">
        <a href="<%= admin_groups_path %>">
          <div class="flex-item-admin">
            Groups
          </div>
        </a>

        <a href="<%= admin_users_roles_path %>">
          <div class="flex-item-admin">
            User Roles
          </div>
        </a>

        <a href="<%= admin_document_categories_path %>">
          <div class="flex-item-admin">
            Document Categories
          </div>
        </a>


      </div>
    </div>
  <% end %>

</div>
