<% provide :title, "Welcome | Approve User" %>
<div class="container-fluid">

  <div id="wrapper" style="margin-top: -1.3%;">

      <!-- Sidebar -->
      <div id="sidebar-wrapper">
          <ul class="sidebar-nav">
              <li class="sidebar-brand">
                <a href="<%= root_path %>"><i class="fa fa-tachometer" aria-hidden="true"></i> &nbsp;
                    Home
                </a>
              </li>

              <li>
                  <a href="#" data-toggle="tooltip" title="Your role : <%= current_user.roles.last.name %>"><span class="glyphicon glyphicon-user"></span> &nbsp; Approve User</a>
              </li>
              <!-- <li>
                  <a href="#"><i class="fa fa-files-o" aria-hidden="true"></i> &nbsp; Unapproved Documents</a>
              </li> -->
              <!-- <li>
                  <a href="<%# welcome_approved_documents_path %>"><i class="fa fa-files-o" aria-hidden="true"></i> &nbsp; Approved Documents</a>
              </li> -->
              <% @projects.each do |project| %>
                <li><a href="<%= approver_path(project.slug) %>" data-toggle="tooltip" title="Associated Project : <%= project.name %>"><i class="fa fa-folder" aria-hidden="true"></i> &nbsp; <%= project.name %></a></li>
              <% end %>

              <div class="footer-place">
                <li><a href="http://www.innovadorslab.com" target="_blank">Powered By: <b>Innovadors Lab Pvt. Ltd.</b></a></li>
              </div>
          </ul>
      </div>
      <!-- /#sidebar-wrapper -->

      <!-- Page Content -->
      <div id="page-content-wrapper">
          <div class="container-fluid">
              <div class="row">
                  <div class="col-lg-12">
                    <div class="col-md-2"></div>

                    <div class="col-md-8">
                      <% if !@unapproved_documents.empty?  %>
                        <h5 class="h3" align="center">Pending Approvals</h5>
                        <div class="row">
                          <%= form_tag controller: "welcome", action: "approve", method: "post" do  %>
                            <% @unapproved_documents.each do |document| %>
                              <div class="well form-group">
                                <%= link_to document.name, document_path(document) %>
                                <span class="pull-right"><%= check_box_tag :"#{document.id}" %></span> <br>
                              </div>

                            <% end %>
                              <div class="form-group text-center">
                                <%= submit_tag "Approve", class: "btn btn-primary btn-sm text-uppercase" %>
                              </div>
                          <% end %>
                        </div>
                      <% else %>
                        <div class="jumbotron text-center">
                          <h3 class="h2">NO pending documents to approve !! </h3>
                        </div>

                      <% end %>

                    </div>

                    <div class="col-md-2"></div>
                  </div>
              </div>
          </div>
      </div>
      <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->


</div>
