<% if (current_user.has_role? :admin) || (current_user.has_role? :superAdmin) %>
    <%# goto admin adsh board %>
    <% provide :title, "Welcome - Admin" %>

  <!-- <nav class="navbar navbar-default">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li><a href="#">Section 1</a></li>
      </ul>
    </div>

  </nav> -->

  <%= render :partial => "admin_dash_board" %>

<% elsif current_user.has_role? :uploadUser %>

  <%= render template: "documents/index" %>

<% elsif current_user.has_role? :viewUser %>
  <% provide :title, "Welcome" %>
  <%# render template: "documents/index" %>


    <div class="container-fluid">
      <% if current_user && (can? :create, Document) %>
          <%= link_to 'Upload Document', new_document_path %>
      <% end %>

      <div class="col-md-3">
        <!-- <% if @user_groups.empty? %>
          <div class="jumbotron">
            <h4 align="center">You are not associated with any project</h4>
          </div>
        <% else %>
        <br><br>
          <div class="panel panel-default">
            <div class="panel-heading">Projects Associated</div>
            <div class="panel-body">
              <% @user_groups.each do |group| %>
                <%= group.name %> <br>
              <% end %>
            </div>
          </div>
        <% end %> -->
      </div>

      <div class="col-md-6">
        <% if @recent_docs.empty? %>
          <div class="jumbotron">
            <h3 align="center"> No Files</h3>
          </div>
        <% else %>
          <h4 align="center"> Recent Documents</h4>

          <% @recent_docs.each do |doc| %>
            <div class="panel panel-default">
              <div class="panel-body" id="status-<%= doc_status(doc.document, current_user)  %>">
                <div class="col-sm-11">
                  <%= link_to doc.document.name, document_path(doc.document) %> <br>
                  uploaded : <small><%= time_ago_in_words(doc.created_at) %> ago <br>
                  </small> uploaded by: <small><%= doc.document.user.email %></small> <br>
                  <small>
                    Project Name :
                    <%= doc.group.name %> <br>
                  </small>
                </div>

                <div class="col-sm-1">
                  <h6 align="right">
                    <% if (doc_status(doc.document, current_user) != 0) %>
                      Viewed
                    <% else %>
                      Not Viewed
                    <% end %>
                  </h6>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>


      </div>

      <div class="col-md-3">

      </div>
    </div>


<% end %>
