<% provide :title, "Search Results" %>

<div class="container">
  <div class="row">
    <!-- <h2 align="center">Search Results for : <small><%# params["q"]["name_cont"] %></small></h2> -->
    <div class="col-md-2">
    </div>
    <div class="col-md-8">

      <section class="search-form">
        <%= search_form_for @q, url: search_documents_path, html: { method: :get, role: "form"} do |f| %>
          <div class="input-group input-group-lg">
            <%= label_tag :keywords, nil, class: "sr-only" %>
            <%= f.search_field :name_cont, placeholder: 'Document Name', class: 'form-control input-lg', required: true %>
            <span class="input-group-btn">
              <%= submit_tag "Search Documents", class: "btn btn-primary btn-lg" %>
            </span>
          </div>
        <% end %>
      </section>


      <% if @search_documents.all.count != 0 %>
        <section class="search-results">
          <header>
            <h3>Search Results</h3>
          </header>

          <ol class="list-group">
            <% @search_documents.each do |doc| %>
              <li class="list-group-item clearfix">
                <h4 class="pull-right">
                  <small class="text-uppercase">
                    <% if doc.file.present? %>
                    <a href="<%= doc.file.url %>" target="_blank" class="btn btn-info btn-sm">
                      <span class="glyphicon glyphicon-download-alt"></span> Download
                    </a>
                    <% end %>
                  </small>
                </h4>
                <h3 class="h4">
                  <%= link_to doc.name, document_path(doc) %> <br>
                  <small>
                    <%= time_ago_in_words doc.created_at %> <br>
                    Uploaded By : <%= doc.user.email %> <br>
                    Project : <%= doc.group.name %>
                  </small>
                </h3>
              </li>
            <% end %>
          </ol>
        </section>
      <% else %>
          <div class="jumbotron">
            <h3 align="center">Not found</h3>
          </div>
      <% end %>
    </div>
    <div class="col-md-2">

    </div>
  </div>
</div>
