<% provide :title, @document.name %>

<div class="container-fluid">
  <div class="col-md-4">
    <p id="notice"><%= notice %></p>

    <div class="panel panel-default">
      <div class="panel-body">
            <p>
              <strong>Name:</strong>
              <%= @document.name %>
            </p>
            <p>
              <strong>Project Name :</strong>
              <%= @document.group.name %>
            </p>
            <p>
              <strong>Uploaded by :</strong>
              <%= @document.user.email %>
            </p>
            <p>
              <strong>Upload time :</strong>
              <%= time_ago_in_words @document.created_at %> ago
            </p>

            <a href="<%= root_path %>" class="btn btn-info btn-sm text-uppercase" data-turbolinks="false">
              <span class="glyphicon glyphicon-backward"></span> Back
            </a>
            <% if @document.file? && (current_user.has_role? :viewUser) %>
              <!-- <a href="<%# download_doc_document_path(@document) %>" target="_blank" class="btn btn-success btn-sm">
                <span class="glyphicon glyphicon-download-alt"></span> Download
              </a> -->
              <% if @document.file_content_type == 'application/pdf' %>
                <a href="<%= pdfjs.reduced_path(file: @document.file.url) %>" target="_blank" class="btn btn-success btn-sm text-uppercase">
                  <!-- <span class="glyphicon glyphicon-download-alt"></span> View -->View
                </a>
              <% elsif (@document.file_content_type == 'image/jpg') || (@document.file_content_type == 'image/png') || @document.file_content_type == 'image/jpeg'  %>
                <a href="<%= show_doc_document_path(@document) %>" target="_blank" class="btn btn-success btn-sm text-uppercase">
                  <!-- <span class="glyphicon glyphicon-download-alt"></span> View -->View
                </a>
              <% end %>
            <% end %>

      </div>
    </div>


  </div>

  <div class="col-md-8">
    <% if @document.file? && (@document.file.content_type == 'application/pdf') %>
      <div>
        <!-- <embed oncontextmenu="return false" type="application/pdf" src="<%= pdfjs.reduced_path(file: @document.file.url) %>" style="height: 85vh; padding: 0%;" class="col-md-12"> -->

        <iframe id="fraDisabled" src="<%= pdfjs.reduced_path(file: @document.file.url) %>#toolbar=0&navpanes=0" style="height: 85vh; padding: 0%;" class="col-md-12" frameborder="0">
            <p>Your browser does not support iframes.</p>

        </iframe>

      </div>

    <% else %>
        <%= image_tag @document.file.url, height: "85vh", class: "img-thumbnail" %>
    <% end %>

  </div>
</div>
