<% provide :title, "Roles" %>
<div class="container">
  <div class="col-md-2">
    <button type="button" class="btn btn-success btn-sm text-uppercase" data-toggle="modal" data-target="#roleModal">Add Role</button>
  </div>

  <div class="col-md-8">

    <section class="roles-list">
      <header>
        <h3>Roles</h3>
      </header>

      <ol class="list-group">
        <% @roles.each do |role| %>
          <li class="list-group-item clearfix">
            <h4 class="pull-right">
              <small class="text-uppercase">
                <%= link_to "delete", admin_role_path(role), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %>
              </small>
            </h4>

            <h3 class="h4">
              <%= link_to role.name, admin_role_path(role) %>
            </h3>
          </li>
        <% end %>
      </ol>
    </section>
  </div>

  <div class="col-md-2">

  </div>
</div>

<div id="roleModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add role</h4>
      </div>
      <div class="modal-body">
        <%= form_for([:admin, @role], html: { class: "form" }) do |f| %>
          Name: <%= f.text_field :name %>
          <%= f.submit "create" %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
