<%# byebug %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <div class="row">
        <div class="col-sm-4">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= $j %>">
            <%= document.name %>
          </a>
        </div>
        <div class="col-sm-4">
          <!-- <h3 class="h5">xyz</h3> -->
        </div>
        <div class="col-sm-4">
          <div class="pull-right h6">
            <%# checkk if the document is already sent and approved %>
            <% if (check_status?(document) == true) && (document.approved == true) %>
              Sent
            <% elsif (check_status?(document) == false) && (document.approved == true)  %>
              Not Sent
            <% elsif document.approved == false %>
              Pending to be approved
            <% end %>
          </div>
        </div>
      </div>
    </h4>
  </div>

  <div class="panel-collapse collapse" id="collapse<%= $j %>">
    <div class="panel-body">
      <div class="container-fluid">
        <h4 class="pull-right">
          <% if check_status?(document) && (document.approved == true)#checkk if the document is already sent %>
              <%# link_to "Sent", send_doc_document_path(document), class: "btn btn-default btn-sm" %>
              <a href="<%= send_doc_document_path(document) %>" data-disable-with="<i class = 'fa fa-spinner fa-spin'></i> Sending" class="btn btn-default btn-sm text-uppercase">
                <span class="glyphicon glyphicon-send"></span> Sent
              </a>

          <% elsif check_status?(document) == false && (document.approved == true) %>
              <a href="<%= send_doc_document_path(document) %>" data-disable-with="<i class = 'fa fa-spinner fa-spin'></i> Sending" class="btn btn-success btn-sm text-uppercase">
                <span class="glyphicon glyphicon-send"></span> Send
              </a>
          <% end %>
          <small class="text-uppercase"><%= link_to 'Edit', edit_admin_document_path(document), class: "btn btn-warning btn-sm" %></small>
          <% if current_user.has_role? :superAdmin %>
            <small class="text-uppercase"><%= link_to 'Permanently Delete', admin_document_path(document), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %></small>
          <% end %>
          <small class="text-uppercase"><%= link_to 'Remove', remove_document_admin_document_path(document), data: { confirm: 'Are you sure?, this will move the file to recycle bin' }, class: "btn btn-danger btn-sm" %></small>
        </h4>

        <div>
          <%= link_to document.name, admin_document_path(document) %> <br>
          <small>
            <%= time_ago_in_words document.created_at %> ago<br>
            Uploaded By : <%= document.user.email %> <br>
            Project Name : <%= document.group.name %>
          </small>
        </div>

      </div>
    </div>
  </div>

</div>
<% $j = $j + 1 %>
