<%= form_for([:admin, @document], html: { id: 'create_document' }) do |f| %>
  <% if @document.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@document.errors.count, "error") %> prohibited this document from being saved:</h2>

      <ul>
      <% @document.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control", placeholder: "Document Name" %>
  </div>
  <div class="form-group">
    <%= f.label :project_id %> <br>
    <small>(Select a project for the document for which it belongs to)</small>
    <%= f.select :group_id, @groups.collect { |p| [ p.name, p.id ] }, {include_blank: false},{class: "form-control"} %>
  </div>

  <div class="form-group">
    <div class="pull-right">
      <% if @document.file? %>
        <%= link_to @document.file_file_name, @document.file.url, target: "_blank" %> <br>
      <% end %>
      <small>Please upload only pdf, jpg, jpeg, png format files</small>
    </div>

   	<%= f.label :file %><br>
    <%= f.file_field :file, :"area-required" => false %>
  </div>

  <div class="form-group">
    <%= f.submit "Save", class: "btn btn-success btn-sm text-uppercase" %>
  </div>
<% end %>

<script type="text/javascript">
  validateDocument('create_document');
</script>
