<% provide :title, "Documents" %>
<div class="container-fluid">
  <p id="notice"><%= notice %></p>

    <div class="col-md-3">
      <%= link_to 'New Document', new_document_path, class: "btn btn-success btn-sm" %>
    </div>
    <div class="col-md-6">
      <section>
        <header>
          <h3>Documents</h3>
        </header>

        <ol class="list-group">
          <% @documents.each do |document| %>
            <li class="list-group-item clearfix">
              <h4 class="pull-right">
                <small class="text-uppercase"><%= link_to 'Edit', edit_admin_document_path(document), class: "btn btn-warning btn-sm" %></small>
                <small class="text-uppercase"><%= link_to 'Destroy', document, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %></small>
              </h4>

              <h3 class="h4">
                <%= link_to document.name, admin_document_path(document) %> <br>
                <small>
                  <%= time_ago_in_words document.created_at %> <br>
                  Uploaded By : <%= document.user.email %> <br>
                  Project Name : <%= document.group.name %>
                </small>
              </h3>
            </li>
            <%# link_to "view", document.file.url, target: "_blank" if document.file? %>
          <% end %>
        </ol>
      </section>
    </div>

    <div class="col-md-3">

    </div>

</div>
