<% provide :title, "Documents Uploaded" %>
<div class="container-fluid">
  <p id="notice"><%= notice %></p>
  <div class="row">
    <div class="col-md-6">
      <h3>Approved Documents</h3>

      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Uploader</th>
            <th>view</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @approved_docs.each do |document| %>
            <tr>
              <td><%= document.name %></td>
              <td><%= document.document_category.name %></td>
              <td><%= document.user.email %></td>
              <td><%= link_to "view", document.file.url, target: "_blank" if document.file? %></td>
              <td><%= link_to 'Show', document %></td>
              <td><%= link_to 'Edit', edit_document_path(document) %></td>
              <td><%= link_to 'Destroy', document, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>


    </div>

    <div class="col-md-6">
      <h3>Pending Approvals</h3>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Uploader</th>
            <th>view</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @unApproved_docs.each do |document| %>
            <tr>
              <td><%= link_to document.name, document %></td>
              <td><%= document.document_category.name %></td>
              <td><%= document.user.email %></td>
              <td><%= link_to "view", document.file.url, target: "_blank" if document.file? %></td>
              <td><%= link_to 'Edit', edit_document_path(document) %></td>
              <td><%= link_to 'Destroy', document, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <%= link_to 'New Document', new_document_path %>
  </div>

</div>
