<% provide :title, "Recycle Bin" %>

<div class="container-fluid">

  <div id="wrapper" style="margin-top:-1.3%;">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                  <a href="<%= root_path %>"><i class="fa fa-tachometer" aria-hidden="true"></i> &nbsp;
                      Home
                  </a>
                </li>
                <li>
                    <a href="<%= admin_documents_path %>"><span class="fa fa-files-o" aria-hidden="true"></span> &nbsp; Documents</a>
                </li>
                <li>
                  <a href="/admin/documents/recycle_bin"><span class="glyphicon glyphicon-trash"></span> &nbsp; Trash </a>
                </li>

            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">


                        <% if @documents.empty? %>
                          <div class="jumbotron">
                            <h3 class="h2" align="center"> Trash Empty !!</h3>
                          </div>
                        <% else %>
                          <section>
                            <header>
                              <h3 class="h4">Deleted Documents</h3>
                            </header>
                            <ol class="list-group">
                              <% @documents.each do |document| %>
                                <li class="list-group-item clearfix">
                                  <h4 class="pull-right">
                                    <small class="text-uppercase"><%= link_to 'Restore', restore_document_admin_document_path(document), class: "btn btn-warning btn-sm" %></small>
                                  </h4>
                                  <h3 class="h4">
                                    <%= link_to document.name, admin_document_path(document) %> <br>
                                    <small>
                                      <%= time_ago_in_words document.created_at %> ago<br>
                                      Uploaded By : <%= document.user.email %> <br>
                                      Project Name : <%= document.group.name %>
                                    </small>
                                  </h3>
                                </li>
                              <% end %>
                            </ol>
                          </section>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
</div>
