<% provide :title, "#{@document.name} - Admin "%>

<div class="container-fluid">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <p>
          <strong>Name:</strong>
          <%= @document.name %>  <%# link_to " | download", @document.file.url, target: "_blank" if @document.file? %>
        </p>
        <p>
          <strong>Project Name :</strong>
          <%= @document.group.name %>
        </p>

        <p>
          <strong>Uploaded by :</strong>
          <%= @document.user.email %>
        </p>
        <p>
          <strong>Upload time :</strong>
          <%= time_ago_in_words @document.created_at %> ago
        </p>
        <%= link_to 'Edit', edit_admin_document_path(@document), class: "btn btn-warning btn-sm text-uppercase" %>
        <%= link_to 'Back', :back, class: "btn btn-primary btn-sm text-uppercase" %>

      </div>
    </div>

  </div>

  <div class="col-md-8">
    <% if @document.file? && (@document.file.content_type == 'application/pdf') %>
    <div oncontextmenu="return false">
      <iframe id="fraDisabled" src="<%= pdfjs.reduced_path(file: @document.file.url) %>#toolbar=0&navpanes=0" style="height: 85vh; padding: 0%;" class="col-md-12" frameborder="0">
          <p>Your browser does not support iframes.</p>

      </iframe>
    </div>
    <% else %>
      <%= image_tag @document.file.url, height: "85vh", class: "img-thumbnail" %>
    <% end %>
  </div>
</div>
