<% provide :title, "#{@document.name} - Admin "%>

<div class="container-fluid">
  <p id="notice"><%= notice %></p>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <p>
          <strong>Name:</strong>
          <%= @document.name %>  <%# link_to " | download", @document.file.url, target: "_blank" if @document.file? %>
        </p>
        <p>
          <strong>Project Name :</strong>
          <%= @document.group.name %>
        </p>

        <p>
          <strong>Uploaded by :</strong>
          <%= @document.user.email %>
        </p>
        <p>
          <strong>Upload time :</strong>
          <%= time_ago_in_words @document.created_at %> ago
        </p>
        <%= link_to 'Edit', edit_admin_document_path(@document), class: "btn btn-warning btn-sm" %>
        <%= link_to 'Back', admin_documents_path, class: "btn btn-primary btn-sm" %>

      </div>
    </div>

  </div>

  <div class="col-md-8">
    <% if @document.file? %>
      <iframe src="<%= @document.file.url %>" style="height: 85vh; padding: 0%;" class="col-md-12">
          <p>Your browser does not support iframes.</p>
      </iframe>
    <% end %>
  </div>
</div>
