<%= form_for([:admin, @group]) do |f| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% @group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, placeholder: "Project Name", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :purpose %><br>
    <%= f.text_area :purpose, placeholder: "Enter Project Description", class: "form-control input-lg"  %>
  </div>
  <div class="form-group">
    <%= f.submit "Save Project" , class: "btn btn-success btn-sm text-uppercase" %>
  </div>
<% end %>
