<% provide :title, @group.name + " - Admin" %>

<div class="container-fluid">
  <!-- <p id="notice"><%= notice %></p> -->

  <div class="row">
    <div class="panel panel-default">
      <div class="panel-body">
        <p>
          <strong>Project Name:</strong>
          <%= @group.name %>
        </p>

        <p>
          <strong>Purpose:</strong>
          <%= @group.purpose %>
        </p>

        <small class="pull-right text-uppercase">
          <button type="button" class="btn btn-info btn-sm text-uppercase" data-toggle="modal" data-target="#myModal">Add new User</button>
          <%= link_to 'Edit', edit_admin_group_path(@group), class: "btn btn-warning btn-sm" %>
          <%= link_to 'Back', admin_groups_path, class: "btn btn-primary btn-sm" %>
        </small>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-6">

      <section>
        <header>
          <h3>Documents Uploaded</h3>
        </header>

        <ol class="list-group">
          <% @documents.each do |document| %>
            <li class="list-group-item clearfix">
              <h4 class="pull-right">
                <small class="text-uppercase">
                  <%= link_to "show", admin_document_path(document), class: "btn btn-info btn-sm" %>
                </small>
              </h4>
              <h3 class="h4">
                <%= document.name %> <br>
              </h3>
            </li>
          <% end %>
        </ol>
      </section>

    </div>

    <div class="col-md-6">

      <section>
        <header>
          <h3>Users Associated</h3>
        </header>

        <ol class="list-group">
          <% @group.users.each do |user| %>
            <li class="list-group-item clearfix">
              <h4 class="pull-right">
                <small class="text-uppercase">
                  <%= link_to "Show", admin_user_path(user), class: "btn btn-info btn-sm" %>
                </small>
              </h4>
              <h3 class="h4">
                <%= user.email %>
              </h3>
            </li>
          <% end %>
        </ol>
      </section>

    </div>
  </div>
</div>

<%= render :partial => "/groups/add_user_group" %>
