<% provide :title, @group.name + " - Admin" %>

<div class="container-fluid">

  <div id="wrapper" style="margin-top: -1.3%;">

         <!-- Sidebar -->
         <div id="sidebar-wrapper">
             <ul class="sidebar-nav">
               <li class="sidebar-brand">
                 <a href="<%= root_path %>"><i class="fa fa-tachometer" aria-hidden="true"></i> &nbsp;
                     Home
                 </a>
               </li>
                 <li>
                     <a href="#"><span class="glyphicon glyphicon-folder-open"></span>&nbsp; <%= @group.name %></a>
                 </li>
                 <li>
                     <a onclick="show_uploaded_docs()"> <i class="fa fa-files-o" aria-hidden="true"></i> &nbsp; Uploaded Docs</a>
                 </li>
                 <li>
                     <a onclick="show_users_associated()"><i class="fa fa-users" aria-hidden="true"></i> &nbsp; Users Associated</a>
                 </li>
                 <li>
                     <a href="#" data-toggle="modal" data-target="#myModal"><i class="fa fa-user-plus" aria-hidden="true"></i> &nbsp; Add User</a>
                 </li>
                 <!-- <li><%= link_to 'Back', admin_groups_path %></li> -->

                 <div class="footer-place">
                   <li><a href="http://www.innovadorslab.com" target="_blank">Powered By: <b>Innovadors Lab Pvt. Ltd.</b></a></li>
                 </div>

             </ul>
         </div>
         <!-- /#sidebar-wrapper -->

         <!-- Page Content -->
         <div id="page-content-wrapper">
             <div class="container-fluid">
                 <div class="row">
                     <div class="col-lg-12">
                       <div class="row">
                           <div class="panel panel-default">
                             <div class="panel-body">
                               <p>
                                 <strong>Purpose:</strong>
                                 <%= @group.purpose %>
                               </p>
                             </div>
                           </div>
                       </div>


                       <div class="row">
                         <div id="docs_uploaded_project" style="padding-left:2%; padding-right:2%;">

                           <section>
                             <header>
                               <h3 class="h4">Documents Uploaded (<%= @documents.count %>)</h3>
                             </header>

                             <ol class="list-group">
                               <% @documents.each do |document| %>
                                 <li class="list-group-item clearfix">
                                   <h4 class="pull-right">
                                     <small class="text-uppercase">
                                       <%= link_to "show", admin_document_path(document), class: "btn btn-info btn-sm" %>
                                     </small>
                                   </h4>
                                   <h3 class="h4">
                                     <%= document.name %> <br>
                                     <small>Uploaded By : <%= document.user.email %></small>
                                   </h3>
                                 </li>
                               <% end %>
                             </ol>
                           </section>

                         </div>

                         <div id="show_users_associated" style="padding-left:2%; padding-right:2%;">

                           <section>
                             <header>
                               <h3 class="h4">Users Associated (<%= @group.users.count %>) </h3>
                             </header>

                             <ol class="list-group">
                               <% @group.users.each do |user| %>
                                 <li class="list-group-item clearfix">
                                   <h4 class="h5 pull-right">
                                     <small class="text-uppercase">
                                       <%= link_to "Show", admin_user_path(user), class: "btn btn-info btn-sm" %>
                                       <%= link_to "Remove", remove_user_admin_group_path(u_id: user.slug), data: {confirm: "Are you sure"} ,class: "btn btn-danger btn-sm" %>
                                     </small>
                                   </h4>
                                   <h3 class="h5">
                                     <%= user.email %> <br> <small>Role : <%= user.roles.last.name %></small>
                                   </h3>
                                 </li>
                               <% end %>
                             </ol>
                           </section>

                         </div>
                       </div>



                     </div>
                 </div>
             </div>
         </div>
         <!-- /#page-content-wrapper -->

     </div>
     <!-- /#wrapper -->







</div>

<%= render :partial => "/groups/add_user_group" %>


<script type="text/javascript">
  $("#docs_uploaded_project").hide();
  $("#show_users_associated").hide();

  function show_uploaded_docs() {
    $("#docs_uploaded_project").show();
    $("#show_users_associated").hide();
  }

  function show_users_associated() {
    $("#show_users_associated").show();
    $("#docs_uploaded_project").hide();
  }

</script>
