<div class="container-fluid">
  <% provide :title, "Users List" %>



  <div id="wrapper" style="margin-top: -1.3%;">
    <div id="sidebar-wrapper" data-turbolinks="false">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                  <a href="<%= root_path %>"><i class="fa fa-tachometer" aria-hidden="true"></i> &nbsp;
                      Home
                  </a>
                </li>
                <li><a href="<%= admin_users_path %>"><i class="fa fa-users" aria-hidden="true"></i> &nbsp; Users</a></li>
                <li><a href="#" data-toggle="modal" data-target="#myModal"><i class="fa fa-user-plus" aria-hidden="true"></i> &nbsp; Add User</a></li>
                <!-- <li><a href="#">Active Users</a></li>
                <li><a href="#">Disabled Users</a></li> -->
                <!-- <li><%# link_to "Back", :back %></li> -->
            </ul>
        </div>

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                      <% if !@users.empty? %>
                        <h3 class="h4" align="center">Users List</h3>
                          <div class="panel-group" id="accordion">
                            <% i = 1%>
                            <% @users.each do |user| %>
                              <div class="panel panel-default">
                                <div class="panel-heading">
                                  <h4 class="panel-title">
                                    <div class="row">
                                      <div class="col-sm-4">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= i %>">
                                          <%= user.username %>
                                        </a>
                                      </div>
                                      <div class="col-sm-4" style="text-align:center;">
                                        <%= user.designation %>
                                      </div>
                                      <div class="col-sm-4">
                                        <div class="pull-right h5">
                                          <% if user.deleted_at %>
                                            Disabled
                                          <% else %>
                                              Active
                                          <% end %>
                                        </div>
                                      </div>
                                    </div>
                                  </h4>

                                </div>
                                <div class="panel-collapse collapse" id="collapse<%= i %>">
                                  <div class="panel-body">
                                    <div class="container-fluid">
                                      Name : <%= user.username %> <br>
                                      Role : <%= user.roles.last.name %> <br>
                                      Projects :
                                        <% user.groups.each do |group| %>
                                            <%= group.name %> &nbsp;
                                        <% end %>
                                        <br>
                                        <%= link_to "Show Full Profile", admin_user_path(user) %>
                                        <div class="pull-right">
                                          <% if user.deleted_at %>
                                            <%= link_to "Change role", '#', class: "btn btn-primary btn-sm text-uppercase disabled" %>
                                            <%= link_to "reset password", '#', method: :post, class: "btn btn-warning btn-sm text-uppercase disabled" %>
                                          <% else %>
                                            <%= link_to "Change role", new_admin_users_role_path(user_id: user.slug), class: "btn btn-primary btn-sm text-uppercase" %>
                                            <%= link_to "reset password", reset_password_admin_user_path(user), method: :post, class: "btn btn-warning btn-sm text-uppercase" %>
                                          <% end %>

                                          <% if current_user.has_role? :superAdmin %>
                                              <%= link_to "Add role", new_admin_users_role_path(user_id: user.id), class: "btn btn-primary btn-sm text-uppercase" %>
                                          <% end %>
                                          <%# if the user is disabled , change password and change role should also be disabled %>
                                          <% if !user.deleted_at %>
                                            <%= link_to "Disable", disable_user_admin_user_path(user), data: { confirm: 'Are you sure?' },class: "btn btn-danger btn-sm text-uppercase" %>
                                          <% else %>
                                            <%= link_to "Enable", enable_user_admin_user_path(user), class: "btn btn-info btn-sm text-uppercase" %>
                                          <% end %>
                                        </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <% i += 1%>
                            <% end %>
                          </div>


                          <% else %>
                              <div class="container">
                                <div class="Jumbotron">
                                  <h2 class="h3">No Users</h2>
                                </div>
                              </div>
                      
                          <% end %>
                    </div>
                </div>


              </div>
          </div>
   </div>

    

  </div>







<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title h3">Add User</h4>
      </div>
      <div class="modal-body">
        <div class="panel panel-default">
          <div class="panel-body">
            <%= form_for([:admin, @user], html: { class: "form", id: 'create_user' }) do |f| %>

              <div class="form-group">
                <%= label_tag "Name" %>
                <%= f.text_field :username, class: "form-control", autofocus: true, placeholder: "Enter the user name", required: true %>
              </div>

              <div class="form-group">
                <%= label_tag "Email" %>
                <%= f.email_field :email, class: "form-control", placeholder: "Email (abc@example.com)", required: true %>
              </div>

              <div class="form-group">
                <%= label_tag "Password" %>
                <%= f.password_field :password, class: "form-control", placeholder: "Password (minimum 8 characters)", required: true %>
              </div>

              <div class="form-group">
                <%= label_tag "Mobile" %>
                <%= f.text_field :mobile, id: "phone" ,class: "form-control", placeholder: "Eg. 9876543210 and should be of 10 digits", maxlength: 10, required: true, onkeypress: "phoneno()" %>
              </div>

              <div class="form-group">
                <%= label_tag "Designation" %>
                <%= f.text_field :designation, class: "form-control", placeholder: "Enter Designation", required: true %>
              </div>

              <div class="form-group">
                <%= label_tag "Role" %>
                <%= select_tag :role_id, options_from_collection_for_select(@roles, "id", "name"), class: "form-control", required: true %>
              </div>

              <div class="form-group">
                <%= f.submit "add user", class: "btn btn-primary btn-sm text-uppercase" %>
                <button type="button" class="btn btn-default btn-sm text-uppercase" data-dismiss="modal">Close</button>
              </div>

            <% end %>
          </div>
        </div>
      </div>
      <!-- <div class="modal-footer">

      </div> -->
    </div>

  </div>
</div>

<script type="text/javascript">
  validateUser('create_user');
</script>

<script>
     function phoneno(){
      $('#phone').keypress(function(e) {
          var a = [];
          var k = e.which;

          for (i = 48; i < 58; i++)
              a.push(i);

          if (!(a.indexOf(k)>=0))
              e.preventDefault();
      });
  }
</script>
