<div class="container-fluid">
  <% provide :title, "Users List" %>
  <h3>List of all users</h3>

  <!-- Trigger the modal with a button -->
  <button type="button" class="btn btn-success btn-sm text-uppercase" data-toggle="modal" data-target="#myModal">Add User</button>

  <% if !@users.empty? %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Email</th>
          <th>Projects</th>
          <th>Role</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @users.each do |user| %>
        <tr>
          <td><%= link_to user.email, admin_user_path(user) %></td>
          <td>
            <% user.groups.each do |group| %>
                <%= group.name %> &nbsp;
            <% end %>
          </td>
          <% fetch_roles(user.id).each do |role| %> <%# to fetch the roles of each user and it is defined in the usershelper.rb %>
            <td><%= role %></td>
          <% end %>

          <%# if the user is disabled , the change password and change role should also be disabled %>
          <% if user.deleted_at %>
            <td><%= link_to "Change role", new_admin_users_role_path(user_id: user.id), class: "btn btn-primary btn-sm text-uppercase disabled" %></td>
            <td><%= link_to "change password", edit_admin_user_path(user), class: "btn btn-warning btn-sm text-uppercase disabled" %></td>
          <% else %>
            <td><%= link_to "Change role", new_admin_users_role_path(user_id: user.id), class: "btn btn-primary btn-sm text-uppercase" %></td>
            <td><%= link_to "change password", edit_admin_user_path(user), class: "btn btn-warning btn-sm text-uppercase" %></td>
          <% end %>

          <% if current_user.has_role? :superAdmin %>
              <td><%= link_to "Add role", new_admin_users_role_path(user_id: user.id), class: "btn btn-primary btn-sm text-uppercase" %></td>
          <% end %>
          <!-- <td><%= link_to "Delete", admin_user_path(user), method: :delete, data: { confirm: 'Are you sure?' },class: "btn btn-danger btn-sm text-uppercase" %></td> -->
          <% if !user.deleted_at %>
            <td><%= link_to "Disable", disable_user_admin_user_path(user), data: { confirm: 'Are you sure?' },class: "btn btn-danger btn-sm text-uppercase" %></td>
          <% else %>
            <td>
              <!-- <span class="" disabled>disabled</span> -->
              <%= link_to "Enable", enable_user_admin_user_path(user), class: "btn btn-info btn-sm text-uppercase" %>
            </td>
          <% end %>


        </tr>

        <% end %>
      </tbody>
    </table>

  <% else %>
      <div class="container">
        <div class="Jumbotron">
          <h2 class="h3">No Users</h2>
        </div>
      </div>

  <% end %>


</div>



<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title h3">Add User</h4>
      </div>
      <div class="modal-body">
        <div class="panel panel-default">
          <div class="panel-body">
            <%= form_for([:admin, @user], html: { class: "form", id: 'create_user' }) do |f| %>

              <div class="form-group">
                <%= label_tag "Name" %>
                <%= f.text_field :username, class: "form-control", autofocus: true, placeholder: "Enter the user name" %>
              </div>

              <div class="form-group">
                <%= label_tag "Email" %>
                <%= f.email_field :email, class: "form-control", placeholder: "Email (abc@example.com)" %>
              </div>

              <div class="form-group">
                <%= label_tag "Password" %>
                <%= f.password_field :password, class: "form-control", placeholder: "Password (minimum 8 characters)" %>
              </div>

              <div class="form-group">
                <%= label_tag "Mobile" %>
                <%= f.text_field :mobile, class: "form-control", placeholder: "Eg. 9876543210 and should be of 10 digits", maxlength: "10" %>
              </div>

              <div class="form-group">
                <%= label_tag "Designation" %>
                <%= f.text_field :designation, class: "form-control", placeholder: "Enter Designation" %>
              </div>

              <div class="form-group">
                <%= label_tag "Role" %>
                <%= select_tag :role_id, options_from_collection_for_select(@roles, "id", "name"), class: "form-control" %>
              </div>

              <div class="form-group">
                <%= f.submit "add user", class: "btn btn-primary btn-sm text-uppercase" %>
                <button type="button" class="btn btn-default btn-sm text-uppercase" data-dismiss="modal">Close</button>
              </div>

            <% end %>
          </div>
        </div>
      </div>
      <!-- <div class="modal-footer">

      </div> -->
    </div>

  </div>
</div>

<script type="text/javascript">
  validateUser('create_user');
</script>
