<% provide :title, "User : #{@user.email}" %>
<h2>Users Show page <%= @user.email %> </h2>

<div class="container-fluid">
  <div class="row">
    User information <br>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Id</th>
          <th>Email</th>
          <th>Mobile</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td><%= @user.id %></td>
          <td><%= @user.email %></td>
          <td><%= @user.mobile %></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="row">
    <div class="col-md-2">
      <h4>Roles assigned (<%= link_to "Add", '#', :"data-toggle" => "modal", :"data-target" => "#roleAdd" %>) </h4>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Roles</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @user.roles.each do |role| %>
            <tr>
              <td><%= role.name %></td>
              <td><%= link_to "remove", admin_users_role_path(role_name: role.name), method: :delete, data: {confirm: "are you sure"} %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="col-md-4">
      <h4>SMS groups associated with (<%= link_to "Add", new_admin_user_group_path %>) </h4>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>SMS Groups</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @user.groups.each do |group| %>
            <tr>
              <td><%= group.name %></td>
              <!-- <td><%# link_to "remove", admin_users_role_path(role_name: role.name), method: :delete, data: {confirm: "are you sure"} %></td> -->
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="col-md-4">
      <h4>Documents uploaded</h4>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Document Name</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @user.documents.each do |document| %>
            <tr>
              <td><%= document.name %></td>
              <td><%= link_to "delete", '#' %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="col-md-2"> </div>
  </div>
</div>


<!-- Modal -->
<div id="roleAdd" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <%= form_tag('/admin/users/add_user_role', method: :post) %>
          <%= number_field_tag 'user_id', @user.id, hidden: true %>
          <%= select_tag "role_id", options_from_collection_for_select(@roles, "id", "name") %>
        <%= submit_tag "add role" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>


<div id="smsGroupAdd" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <%= form_tag('/admin/users/add_sms_group', method: :get, controller: 'admin/users', action: 'add_sms_group') %>
          <%= number_field_tag 'user_id', @user.id %>
          <%= select_tag "group_id", options_from_collection_for_select(@groups, "id", "name") %>
        <%= submit_tag "add group" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
