<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="pull-left logo" href="http://www.guptapower.com"><%= image_tag "logo.png", alt: "logo GPIL", class: "img-responsive brand-image" %></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="<%= root_path %>">Home</a></li>
        <% if user_signed_in? %>
          <li><%= link_to "Change Password", edit_user_registration_path %></li>
        <% end %>

        <% if current_user && (current_user.has_role? :admin) %>
          <li><a href="<%= admin_documents_path %>">Documents</a></li>
          <li><a href="<%= admin_users_path %>">Users</a></li>
          <li><a href="<%= admin_groups_path %>">Projects</a></li>
        <% end %>

        <% if current_user && (current_user.has_role? :superAdmin) %>
          <li><a href="<%= admin_roles_path %>">Roles</a></li>
          <li><a href="<%= admin_users_roles_path %>">User roles</a></li>
        <% end %>
        <% if current_user && (current_user.has_role? :admin) %>
          <li><a href="/admin/logs/index">Logs</a></li>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li>
            <div class="row">
              <div class="input-group">
                <%= search_form_for @q, url: search_documents_path, html: { method: :get, role: "form"} do |f| %>
                  <div class="form-group col-xs-10">
                    <%= f.search_field :name_cont, placeholder: "document search", class: "form-control", required: true %>
                  </div>
                  <div class="col-xs-2" style="padding: 0;">
                    <button type="submit" class="btn btn-default" style: "border: none;" data-disable-with="<i class = 'fa fa-spinner fa-spin'></i>"><span class="glyphicon glyphicon-search" style: "border: none;"></span></button>
                  </div>
                <% end %>
              </div>
            </div>
          </li>

          <li><a rel="nofollow" data-method="delete" href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i>Sign Out</a></li>
        <% else %>
          <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
  <hr style="border-top: 3px solid green; margin-top:-1.4%;">
