<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> | Gupta Power - DMS</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render partial: '/layouts/header' %>

  <% if notice %>
    <%= notice %>
  <% elsif alert %>
    <%= alert %>
  <% end %>
  <% if user_signed_in? %>
      <h4>Signed in as : <%= current_user.email %></h4>
  <% end %>

<%= yield %>

<div class="fixed pull-right">
  <a href="https://www.facebook.com/rhinowiresandcables" target="_blank"><i class="fa fa-facebook-official fa-3x" aria-hidden="true">&nbsp;</i></a>
  <a href="https://twitter.com/Rhinowires" target="_blank"><i class="fa fa-twitter fa-3x" aria-hidden="true">&nbsp;</i></a>
  <a href="https://plus.google.com/+Guptapower/posts" target="_blank"><i class="fa fa-google-plus-official fa-3x" aria-hidden="true">&nbsp;</i></a>
  <a href="https://www.linkedin.com/grp/home?gid=8234847" target="_blank"><i class="fa fa-linkedin-square fa-3x" aria-hidden="true">&nbsp;</i></a>
  <a href="https://www.youtube.com/watch?v=XxM75n4p3u4" target="_blank"><i class="fa fa-youtube fa-3x" aria-hidden="true"></i></a>
</div>

<%= render :partial => "/layouts/footer" %>


</body>
</html>
